.intro {
  padding-bottom: 80px;
  width: 888px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  z-index: 4;
  @media (min-height: 1080px) {
    padding-bottom: 142px;
  }
  @media (max-width: 1199px) {
    padding-bottom: 0;
  }
  h1 {
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 90px;
    line-height: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    background: linear-gradient(
      180deg,
      #ffffff 3.64%,
      var(--primary-color) 91.92%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 40px;
    @media (max-width: 991px) {
      font-size: 80px;
    }
    @media (max-width: 767px) {
      margin-bottom: 16px;
      font-size: 32px;
      line-height: 110%;
    }
  }
  p {
    margin-bottom: 32px;
    @media (max-width: 767px) {
      font-size: 13px;
      margin-bottom: 16px;
      line-height: 130%;
    }
  }
}